// Global

// Colors
$clrBlue: #1992D4;
$clrYellow:#F0B429;
$clrBlack: #000000;
$clrGray: #636363;
$clrTempIcon: #113154;
$clrTempAvatar: #983545;
$clrLtGray:#E2E8F0;
$clrWhite: #FFF;

// Font
$family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$fsize: 1rem;
$bold: bold;

// Dimensions
$h: 100%;
$w: 100%;
$space: 1rem;


// Mixins / functions
@mixin roundBorder {
    border-radius: 50%;
}

@mixin gridTemp($cols: auto, $rows: auto, $gap: 0) {
    grid-template-columns: $cols;
    grid-template-rows: $rows;
    gap: $gap;
}

@mixin flexing($justify: center, $align: center, $direction: row) {
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

// Universal classes
.grid {
    display: grid;
}

.flex {
    display: flex;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
}

.padding {
    padding: $space;
}

// Test
.icon {
    height: 30px;
    width: 30px;
    background-color: $clrYellow;
    @include roundBorder();
}

.avatar {
    height: 50px;
    width: 50px;
    background-color: $clrTempAvatar;
    @include roundBorder();
}

.whitebg {
    background-color: #FFF;
}

.hidden{
    display: none;
}


// Styles
* {
    box-sizing: border-box;
}

body {
    @extend .grid;
    @include gridTemp($cols:2fr 10fr);
    background-color: $clrLtGray;
    width: 100%;
    height: 100vh;
    max-width: 1500px;
    margin: 0 auto;
    font-family: $family;
}

p {
    margin: 0rem;
}

.toggle {
    @extend .hidden;
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: $clrBlue;
    height: 50px;
    width: 50px;
    border-radius: 0.5rem;
}

nav {
    overflow: hidden;
    transition: 1s all linear;
    position: relative;
    height: 100%;
    padding: 0 $space;
    background-color: $clrBlue;
    color: $clrWhite;

    h1 {
        font-size: $fsize * 1.75;
    }

    p {
        font-weight: $bold;
    }

    .containor {
        @extend .sticky;
        @extend .flex;
        @include flexing(space-between, flex-start, column);
        top: 0;
    }

    .menu {
        margin-top: 1.2rem;
    }

    .nav-item {
        @extend .flex;
        @include flexing(flex-start, center);
        margin: 0.6rem auto;
    }

    .icon {
        @extend .whitebg;
        margin-right: 0.5rem;
    }
}



main {
    .header {
        @extend .whitebg;
        box-shadow: 1px 1px 10px $clrGray;
        @extend .padding;
        @extend .sticky;

        top: 0;

        @extend .grid;
        @include gridTemp(4fr 2fr, 1fr 1fr, 0);
    }

    .h {
        @extend .flex;
        @include flexing(space-evenly, center);
        padding: 0.5rem;
        width: 100%;
    }

    .search, .user-profile {
        width: 100%;
        justify-content: flex-start;

        .icon {
            margin: 0 $space;
        }
    }

    .search {
        padding-left: 60px;
    }

    .user-mini-profile {
        justify-self: end;
        padding: 0 2rem;

        * {
            margin: 0 0.7rem;
        }
    }

    .name {
        font-size: $fsize * 1.2;
        font-weight: $bold;
    }

    .hello-user {
        font-weight: $bold;
        .greet {
            font-size: $fsize * 0.8;
        }

        .username {
            font-size: $fsize * 1.5;
        }
    }

    [type="text"] {
        width: 90%;
        height: 2rem;
        border-radius: 2rem;
        outline: none;
        border: none;
        background-color: $clrLtGray;
        padding: 0 1.5rem;
    }


    .user-actions {
        button {
            width: 80px;
            height: 35px;
            border-radius: 2rem;
            border: none;
            outline: none;
            background-color: $clrBlue;
            color: $clrWhite;
        }
    }

}


main {
    @extend .grid;
    @include gridTemp($rows: 2fr 10fr);

    .summary {
        margin: 0.2rem auto;
        font-weight: 500;
        color: $clrGray;
    }

    .title {
        font-size: $fsize * 1.1;
        margin-bottom: 0;
    }

    .main {
        @extend .grid;
        @include gridTemp(3fr 1fr, 1fr, 1rem);
    }

    .side-panel {
        margin: 1rem;
        margin-left: -0.5rem;
    }

    .projects-area {
        @extend .padding;     
    }

    .projects {
        @extend .grid;
        @include gridTemp(repeat(2,1fr), repeat(3,1fr), 1.5rem);

        .project {
            @extend .whitebg;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            border-left: 0.5rem solid $clrYellow;
        }

        .actions {
            float: right;
            width: 40%;
            @extend .flex;
            @include flexing(space-evenly, center);
        }

        .summary {
            font-size: $fsize;
        }

    }

    .section-heading {
        font-size: $fsize * 1.3;
    }

    .accouncements, .trendings {
        @extend .whitebg;
        border-radius: 0.5rem;
        @extend .padding;

        .title{
            margin-top: $space;
        }

        :first-child .title {
            margin-top: 0;
        }

        .summary {
            font-size: $fsize * 0.75;
            
        }
    }

    .announcement:not(.announcement:last-child) {
        border-bottom: 1px solid $clrGray;
        padding-bottom: $space  ;
    }


    .trending-item{
        @extend .flex;
        @include flexing(flex-start, center);
        padding: $space * 0.4 0;
        .avatar {
            $size: 35px;
            height: $size;
            width: $size;
            margin: 0 0.5rem;
        }

        .user-id {
            @extend .flex;
            @include flexing(center, flex-start,column);
        }

        .user-title {
            font-weight: 500;
        }

        .user-subtitle {
            font-weight: 500;
            font-size: $fsize * 0.7;
        }
    }
}





// setting up everything for mobile layout
@media screen and (max-width: 1000px) {
    .toggle {
        display: block;
    }

    body {
        @include gridTemp($cols: 12fr);
    }

    
    nav {
        display: none;

    }

    

    main {
        .header {
            padding: 0;
            @include gridTemp(1fr 1fr, 1fr 1fr, 0);
            position: static;
            max-height: 170px;
        }

        .h {
            padding: 0.25rem;
            width: 100%;
        }

        .search {
            padding-left: 60px;
            grid-column: 1 / 3;
        }

        .user-mini-profile {
           display: none;
        }

        .hello-user {
            .greet {
                font-size: $fsize * 0.6;
            }

            .username {
                font-size: $fsize * 1.3;
            }
        }
    }



    
    main {
        @include gridTemp($rows: 1fr 10fr);
        
        .summary {
            margin: 0.1rem auto;

        }

        .title {
            font-size: $fsize;
        }

        .main {
            @extend .grid;
            @include gridTemp(1fr, 1fr, 1rem);
        }

        .side-panel {
            margin: 1rem;
        }


        .projects {
            grid-template-columns: 1fr;

            .project {
                @extend .whitebg;
                border-radius: 0.5rem;
                padding: 0.25rem 0.5rem;
                border-left: 0.5rem solid $clrYellow;
            }

        }

        .section-heading {
            font-size: $fsize * 1.15;
        }

        .accouncements, .trendings {
            @extend .whitebg;
            border-radius: 0.25rem;
            @extend .padding;

            .title{
                margin-top: $space / 2;
            }

            :first-child .title {
                margin-top: 0;
            }

        }

        .announcement:not(.announcement:last-child) {
            border-bottom: 1px solid $clrGray;
            padding-bottom: $space;
        }
    }



}